:root {
    --side-padding: max(100px, 12.5vw, env(safe-area-inset-left), env(safe-area-inset-right));
    --top-padding: max(100px, env(safe-area-inset-top), env(safe-area-inset-bottom));
    --bottom-padding: min(env(safe-area-inset-bottom), 100px);
    --standard-color: rgb(44, 55, 63);
    --highlight-color: black;
    --bold-color: rgb(49, 60, 71);
    --background-color: rgb(45, 111, 169);
    --faint-color: rgb(71, 132, 198);
    
}

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--standard-color);
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

section {
    width: 100vw;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    box-sizing: border-box;
    min-height: 50vh;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 1;
}

section:first-of-type {
    background-image: linear-gradient(var(--background-color), var(--faint-color));
}

section:last-of-type {
    padding-bottom: 100px;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    text-align: center;
    font-size: 16px;
    color: var(--highlight-color);
}

h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    color: var(--bold-color);
}

h4 {
    color: var(--highlight-color);
}

h5 {
    color: var(--bold-color);
    font-size: 16px;
}

p, abbr {
    font-size: 16px;
}

b {
    color: var(--bold-color);
}

h3 a {
    text-decoration: none;
    font-size: 30px;
    color: var(--bold-color);
}

.txt-high {
    color: var(--highlight-color);
}

#intro-section {
    padding-top: 200px;
    height: 100vh;
}

#intro-section h2, #intro-section h3 {
    text-align: left;
}

#intro-section p {
    font-size: 20px;
}

#meInfo {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 40px;
    width: 80%;
    min-width: 650px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 200px 30px auto;
    grid-template-rows: 200px auto;
}

#selfie {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}   

#selfie img {
    height: 100%;
}

#descTxt {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#descTxt p {
    font-size: 18px;
}

#experience-section {
}

#intro-section h1 {
    font-size: 16px;
    font-weight: 400;
}

#intro-section h2 {
    color: var(--highlight-color);
}

#intro-section h2, #intro-section h3 {
    font-size: 80px;
    font-weight: 600;
}

#intro-section p {
    font-weight: 400;
    max-width: 500px;
}

#intro-section a {
    position: relative;
    top: 30px;
    padding: 10px;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: 3px;
    margin-right: 10px;
    font-size: 16px;
}


#navBar {
    width: 100vw;
    height: 70px;
    background-color: blue;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px -20px 30px black;
    overflow: hidden;
    background: rgba(45, 111, 169, 0.7);
}

#sideNav {
    width: var(--side-padding);
    height: auto;
    position: fixed;
    z-index: 3;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sideNav path {
    fill: var(--bold-color);
}

#sideNav a:hover path {
    fill: var(--highlight-color);
}

#sideNav a {
    width: 1.5em;
    margin-top: 20px;
}

@supports (backdrop-filter: none) {
  #navBar {
      background: rgba(45, 111, 169, 0.3);
      backdrop-filter: blur(8px);
  }
}

@supports (-webkit-backdrop-filter: none) {
  #navBar {
      background: rgba(45, 111, 169, 0.3);
      -webkit-backdrop-filter: blur(8px);
  }
}

#navBar a {
    position: relative;
    padding: 10px;
    color: var(--highlight-color);
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
}

#navBar .downloadBtn {
    padding: 10px;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: 3px;
}

#skillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
}

#skillsList li {
    font-size: 18px;
    border: 1px solid var(--faint-color);
    width: auto;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.detailsWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    position: relative;
}

.detailsWrapper > div {
    position: relative;
    height: auto;
    overflow: hidden;
}

.detailsWrapper > div:nth-of-type(1) {
    margin-right: 15px;
    width: calc(50% - 15px);
}

.detailsWrapper > div:nth-of-type(2) {
    margin-left: 15px;
    width: calc(50% - 15px);
}

.detailsWrapper ul {
    list-style: none;
    width: 100%;
}

.detailsWrapper p, .detailsWrapper time {
    font-size: 16px;
}


.education-left {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.education-centre {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--bold-color), var(--bold-color)) no-repeat center/2px 100%;
}

#about-section a {
    font-size: 16px;
}

#experience-section ul {
    padding-top: 10px;
    box-sizing: border-box;
}

#experience-section li {
    display: grid;
    grid-template-columns: calc(50% - 30px) 60px calc(50% - 30px);
    grid-template-rows: 100%;
    width: 100%;
    margin: 10px 0 10px 0;
    min-height: 150px;
}

#experience-section li:not(:last-of-type) .education-centre {
    height: calc(100% + 10px);
}

#experience-section li:first-of-type .education-centre {
    height: calc(100% + 20px);
    margin-top: -10px;
    padding-top: 10px;
}

.education-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.education-image {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    box-sizing: border-box;
    border: 1px solid var(--highlight-color);
    background-color: var(--faint-color);
    background-color: white;
    overflow: hidden;
}

.education-image img, .education-image svg {
    max-height: 75%;
    max-width: 75%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.education-image svg {
    fill: var(--highlight-color);
    top: calc(50% + 4px);
    max-height: 120%;
    max-width: 120%;
    width: 120%;
    height: 120%;
}
