:root {
    --side-padding: max(100px, 12.5vw);
       
    --dark-color: rgb(45, 111, 169);
    --medium-color: rgb(71, 132, 198);
    --light-color: white;
    --accent-color: rgb(71, 132, 198);
    --accent-values: 45, 111, 169;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--light-color);
    overflow-x: hidden;
}

section {
    width: 100vw;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    box-sizing: border-box;
    padding-top: 4rem;
    z-index: 1;
    position: relative;
}

section:first-of-type {
    background-image: linear-gradient(var(--dark-color), var(--medium-color));
}

section:last-of-type {
    padding-bottom: 0;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    text-align: center;
    font-size: 18px;
    color: var(--accent-color);
}

h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    color: var(--text-color);
}

h4, h5 {
    color: var(--accent-color);
}

h5 {
    font-size: 18px;
}

p, a, address {
    font-size: 16px;
}

dfn {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

address {
    font-style: normal;
}

h3 a {
    text-decoration: none;
    font-size: 30px;
    color: var(--accent-color);
}

a {
    font-size: inherit;
    color: inherit;
}

hr {
    visibility: hidden;
    height: 50px;
    width: 100%;
}

footer {
    width: calc(100% - (6 * var(--side-padding)));
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: env(safe-area-inset-bottom);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

footer * {
    margin: 0 0.5em 0 0.5em;
}


.txt-high {
    color: var(--accent-color);
    font-size: 18px;
}

#intro-section {
    padding-top: 20vh;
    min-height: 100vh;
    padding-bottom: calc(30px + 1em)
}

#intro-section h1 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

#intro-section h2 {
    color: var(--light-color);
}

#intro-section h3 {
    
}


#intro-section h2, #intro-section h3 {
    text-align: left;
    font-size: 200%;
    font-weight: 600;
}



#intro-section p {
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
}


#meInfo {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 40px;
    width: 80%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 200px 30px auto;
    grid-template-rows: 200px auto;
}

#selfie {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    background-color: var(--medium-color);
    background-image: url("computers.jpg");
    background-size: cover;
    
}   

#selfie img {
    height: 100%;
    object-position: 0 25px;
}

#descTxt {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#descTxt p {
    font-size: 18px;
}

.sub-link {
    position: relative;
    top: 30px;
    padding: 10px;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 3px;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}

.sub-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#downArrow {
    bottom: 0;
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: 7.5vh;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    border-radius: 999px;
}

#downArrow svg {
    width: 2em;
    height: 2em;
    fill: var(--light-color);
}

#downArrow:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


#navBar {
    width: 100vw;
    height: 3rem;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px -20px 30px black;
    overflow: hidden;
    background-color: rgba(var(--accent-values), 0.8);
}

#compactDetails {
    display: none;
}

#sideNav {
    width: var(--side-padding);
    height: auto;
    position: fixed;
    z-index: 3;
    bottom: calc(100px - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sideNav path {
    fill: var(--text-color);
}

#sideNav a:not(:last-of-type) {
    width: 1.5em;
    margin-top: 20px;
}

#sideNav a:last-of-type {
    width: auto;
    margin-top: 20px;
    width: 50%;
    text-align: center;
    opacity: 0.5;
    visibility: hidden;
    text-decoration: none;
}

#sideNav:focus-within a:last-of-type{
    visibility: visible;
}

@supports (backdrop-filter: none) {
    #navBar {
        backdrop-filter: blur(8px);
    }
}

@supports (-webkit-backdrop-filter: none) {
  #navBar {
      -webkit-backdrop-filter: blur(8px);
  }
}

#hamburgerCheck, #hamburger {
    display: none;
}

#navBar a {
    position: relative;
    padding: 10px;
    color: var(--light-color);
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

#navBar .downloadBtn {
    padding: 10px;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 3px;
    margin-right: 30px;
}

#navBar .downloadBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#skillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
}

#skillsList li {
    font-size: 18px;
    border: 1px solid var(--accent-color);
    width: auto;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.detailsWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    position: relative;
}

.detailsWrapper > div {
    position: relative;
    height: auto;
    overflow: hidden;
}

.detailsWrapper > div:nth-of-type(1) {
    margin-right: 15px;
    width: calc(50% - 15px);
}

.detailsWrapper > div:nth-of-type(2) {
    margin-left: 15px;
    width: calc(50% - 15px);
}

.detailsWrapper ul {
    width: 100%;
}

ul {
    list-style: none;
}

.detailsWrapper p, .detailsWrapper time {
    font-size: 16px;
}

#experienceWrapper {
    display: grid;
    grid-template-columns: calc(50% - 30px) 60px calc(50% - 30px);
    grid-template-rows: auto 30px auto;
}

#experienceWrapper > div:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#experienceWrapper > div:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#experienceWrapper > div:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#experienceWrapper > div:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}


.education-left {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.education-centre {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--medium-color), var(--medium-color)) no-repeat center/2px 100%;
}

#about-section .detailsWrapper a {
    font-size: 16px;
}

#experience-section p, #experience-section time {
    font-size: 16px;
}

#experience-section ul {
    padding-top: 10px;
    box-sizing: border-box;
}

#experience-section li {
    display: grid;
    grid-template-columns: calc(50% - 30px) 60px calc(50% - 30px);
    grid-template-rows: 100%;
    width: 100%;
    margin: 10px 0 10px 0;
    min-height: 150px;
}

#experience-section li:not(:last-of-type) .education-centre {
    height: calc(100% + 10px);
}

#experience-section li:first-of-type .education-centre {
    height: calc(100% + 20px);
    margin-top: -10px;
    padding-top: 10px;
}

.education-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.education-image {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    box-sizing: border-box;
    border: 1px solid var(--accent-color);
    background-color: var(--medium-color);
    background-color: white;
    overflow: hidden;
}

.education-image img, .education-image svg {
    max-height: 75%;
    max-width: 75%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

#contact-section li {
    padding: 10px;
    margin: 20px 10px 20px 10px;
}

#contact-section li a {
    font-size: 16px;
}

.education-image svg {
    fill: var(--accent-color);
    top: calc(50% + 4px);
    max-height: 120%;
    max-width: 120%;
    width: 120%;
    height: 120%;
}

.project-large {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 40px;
}

.project-large h4 {
    font-size: 18px;
}

.project-large-image {
    width: calc(300px/9*16);
    height: 100%;
    float: right;
    background-color: var(--medium-color);
    z-index: 1;
    border-radius: 3px;
    border: 3px solid var(--accent-color);
}

.project-large-image img, .project-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.project-large:nth-child(even) .project-large-image{
    float: left;
}


.project-large:nth-child(even) .project-large-cover {
    margin-right: 0;
    left: 0;
    margin-left: calc((300px/9*16) - 50px);
    text-align: left;
}

.project-large-cover {
    width: auto;
    max-width: calc((300px/9*16) / 3 * 2);
    min-width: calc((300px/9*16) / 3 * 1);
    height: auto;
    position: absolute;
    border-radius: 3px;
    background-color: var(--accent-color);
    z-index: 2;
    top: 50%;
    right: 0;
    margin-right: calc((300px/9*16) - 50px);
    transform: translate(0, -50%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.project-large * {
    color: white;
}

#projects-section ul:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(100vw - 35%);
    height: auto;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.project-small {
    height: 150px;
    width: calc(150px/9*16);
    margin: 10px;
    border-radius: 3px;
    border: 1px solid var(--accent-color);
}

.project-small img, .project-large img {
    border-radius: 2px;
}

.project-small h3 {
    font-size: 18px;
    margin: 0;
    padding: 4px 4px 4px 6px;
    text-align: left;
    position: absolute;
    z-index: 2;
    display: none;
    font-weight: 500;
}

.project-small * {
    color: white;
}

.project-small h3 abbr {
    text-decoration: none;
}

.project-small h3 a {
    font-size: inherit;
    text-decoration: underline;
}

.project-small p {
    position: absolute;
    padding: 6px 4px 4px 6px;
    margin-top: calc(1em + 4px);
    z-index: 2;
    display: none;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    max-width: calc((150px/9*16) - 12px);
}

.project-small:hover img, .keyDetails img {
    filter: blur(2px) brightness(50%);
}

.project-small:hover h3, .project-small:hover p, .keyDetails h3, .keyDetails p {
    display: block;
}

abbr {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}



@media (prefers-color-scheme: dark) {
    :root {   
        --dark-color: rgb(26, 26, 26);
        --medium-color: rgb(51, 51, 51);
        --accent-color: rgb(80, 144, 205);
        --accent-values: 80, 144, 205;
        --text-color: white;
    }
    
    body {
        background-color: var(--dark-color);
    }
    
    footer p {
        color: #AAAAAA;
    }

    #downArrow svg {
        fill: var(--accent-color);
    }

    #downArrow:hover {
        background-color: rgba(var(--accent-values), 0.1);
    }
    
    #navBar {
        background-color: rgba(var(--accent-values), 0.3);
    }

    #navBar a {
        color: var(--text-color);
    }
    
    #navBar .downloadBtn {
        color: var(--text-color);
        border: 1px solid var(--text-color);
    }
    
    section:first-of-type {
        background-image: linear-gradient(var(--dark-color), var(--medium-color));
    }
    
    #sideNav a:hover path {
        fill: var(--accent-color);
    }
    
    #intro-section h1 {
        color: #AAAAAA;
    }
    
    #intro-section h3 {
        color: var(--accent-color);
    }
    
    .sub-link {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
    
    #intro-section a:hover {
        background-color: rgba(var(--accent-values), 0.1);
    }
    
    #navBar .downloadBtn:hover {
        background-color: rgba(var(--accent-values), 0.1);
    }

}

/*Compact*/
@media only screen and (max-width: 1024px) {
    #experienceWrapper {
        display: grid;
        grid-template-columns: calc(50% - 30px) 60px calc(50% - 30px);
        grid-template-rows: auto 30px auto 30px auto 30px auto;
    }
    
    #experienceWrapper > div:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #experienceWrapper > div:nth-of-type(2) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #experienceWrapper > div:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #experienceWrapper > div:nth-of-type(4) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}

@media only screen and (max-width: 924px) {
    :root {
        --side-padding: max(12px, env(safe-area-inset-right));
    }
    
    #sideNav {
        display: none;
    }
    
    #compactDetails {
        display: initial;
    }
    
    #projects-section ul:nth-of-type(2) {
        max-width: 842px;
        width: 100%;
    }
    
    .project-large-image {
        width: calc(300px / 9 * 16);
        max-width: calc(100vw - (2 * var(--side-padding)));
        float: left;
        margin: 0;
        position: relative;
        clear: both;
        z-index: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .project-large-cover, .project-large:nth-child(even) .project-large-cover {
        margin: 0;
        left: 0;
        text-align: left;
        float: left;
        top: 0;
        width: auto;
        min-width: 0;
        max-width: 100vw;
        z-index: 0;
        position: relative;
        transform: none;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
    }
    
    .project-large * {
        color: var(--text-color);
    }
    
    .project-large:not(:first-of-type) .project-large-cover {
        margin-top: 50px;
    }
    
    .project-large-cover h4, .project-large-cover h4 a {
        color: var(--accent-color);
    }
    
    #meInfo {
        grid-template-columns: auto;
        grid-template-rows: 200px 30px auto;
    }
    
    #meInfo * {
    }
    
    #selfie {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        max-width: 200px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }   

    #descTxt {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    #navBar {
        align-items: center;
        justify-content: space-around;
    }
    
    #navBar a {
        font-size: 14px;
    }
    
    #navBar .downloadBtn {
        margin-right: 10px;
    }
    
}

@media only screen and (max-width: 450px) {
    #contact-section li {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 410px) {
    #navBar {
        flex-direction: column;
        height: auto;
        z-index: 3;
        left: -110vw;
        transition-duration: 0.2s;
    }
    
    #navBar a {
        margin-right: 0;
    }
    
    #navBar a:first-of-type {
        margin-top: calc(1em);
    }

    #navBar .downloadBtn {
        margin: 10px 0 10px 0;
    }
    
    #hamburgerCheck, #hamburger {
        display: initial;
        width: calc(1em + 20px);
        height: calc(1em + 20px);
        cursor: pointer;
        margin: var(--side-padding);
        border-radius: 3px;
        box-sizing: border-box;
        border: 1px solid var(--text-color);
    }
    
    #hamburgerCheck {
        z-index: 5;
        opacity: 0;
        position: fixed;
    }
    
    
    #hamburgerCheck:checked ~ nav{
        left: 0;
    }
    
    #hamburger {
        z-index: 4;
        position: fixed;
    }
    
    #hamburger div {
        width: 80%;
        height: 10%;
        border-radius: 999px;
        background-color: var(--text-color);
        position: absolute;
        left: 10%;
        transition-duration: 0.2s;
    }
    
    #hamburger div:nth-of-type(1) {
        top: 30%;
    }
    #hamburger div:nth-of-type(2) {
        bottom: 30%;
    }
    
    #hamburgerCheck:checked ~ #hamburger div:nth-of-type(1) {
        top: 45%;
        transform: rotate(45deg);
    }
    
    #hamburgerCheck:checked ~ #hamburger div:nth-of-type(2) {
        top: 45%;
        transform: rotate(-45deg);
    }
    
    
    
        
    
}